/* URETILDI - python firca.py. Elle duzenleme: yerlesim olculerek
   bulunuyor, elle degistirilirse yazi altindaki opaklik garantisi
   bozulur. Kaynak: firca.py YERLESIM. */
#boya { --darbe: 7; }   /* kabuk.js kac <i> uretecegini buradan okuyor */
#boya i:nth-child(1) {
  left: -12.67%; top: -5.13%; width: 132.50%; height: 40.02%;
  background-image: url(assets/firca/panel-1.webp);
}
#menu:popover-open #boya i:nth-child(1),
#menu.open #boya i:nth-child(1) {
  animation-name: sup-sol; animation-delay: 0ms;
}
#boya i:nth-child(2) {
  left: -4.00%; top: -3.97%; width: 43.33%; height: 114.82%;
  background-image: url(assets/firca/panel-2.webp);
}
#menu:popover-open #boya i:nth-child(2),
#menu.open #boya i:nth-child(2) {
  animation-name: sup-ust; animation-delay: 66ms;
}
#boya i:nth-child(3) {
  left: -3.83%; top: -3.38%; width: 117.33%; height: 73.05%;
  background-image: url(assets/firca/panel-3.webp);
}
#menu:popover-open #boya i:nth-child(3),
#menu.open #boya i:nth-child(3) {
  animation-name: sup-sag; animation-delay: 132ms;
}
#boya i:nth-child(4) {
  left: -13.50%; top: 27.54%; width: 132.50%; height: 55.66%;
  background-image: url(assets/firca/panel-4.webp);
}
#menu:popover-open #boya i:nth-child(4),
#menu.open #boya i:nth-child(4) {
  animation-name: sup-sag; animation-delay: 198ms;
}
#boya i:nth-child(5) {
  left: -11.00%; top: 44.11%; width: 140.67%; height: 78.41%;
  background-image: url(assets/firca/panel-5.webp);
}
#menu:popover-open #boya i:nth-child(5),
#menu.open #boya i:nth-child(5) {
  animation-name: sup-sol; animation-delay: 264ms;
}
#boya i:nth-child(6) {
  left: -12.00%; top: 70.36%; width: 138.17%; height: 24.85%;
  background-image: url(assets/firca/panel-6.webp);
}
#menu:popover-open #boya i:nth-child(6),
#menu.open #boya i:nth-child(6) {
  animation-name: sup-sag; animation-delay: 330ms;
}
#boya i:nth-child(7) {
  left: 4.17%; top: 30.34%; width: 73.33%; height: 17.39%;
  background-image: url(assets/firca/panel-7.webp);
}
#menu:popover-open #boya i:nth-child(7),
#menu.open #boya i:nth-child(7) {
  animation-name: sup-sol; animation-delay: 396ms;
}
